force-app/main/default/flows/Downgrade_Candidate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_To_GM</name>
        <label>Send Notification To GM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_Activity_Regard_Candidate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Fetch_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>managerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Title_Used_In_Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Template_Used_In_Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_GM</name>
        <label>Assignment GM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>managerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Candidate_Owner_Details.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countLead</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>customLeadRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>You_Can_t_Downgrade_Lead</name>
        <label>You Can&apos;t Downgrade Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>You Cannot Downgrade Candidate Because you have at least 2 records of Lead__c object.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_if_User_have_Manger</name>
        <label>Check if User have Manger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_To_Manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Count_Lead_is_greater_than_Or_Equal_to_2</name>
        <label>If Count Lead is greater than Or Equal to 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>You_Can_t_Downgrade_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countLead</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_User_have_Manger</targetReference>
            </connector>
            <label>IF YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Downgrade Candidate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Downgrade Candidate</label>
    <loops>
        <name>For_each_custom_Lead_of_Candidate</name>
        <label>For each custom Lead of Candidate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>customLeadRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Webinar_Member_Record_Related_to_Custom_Lead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Notification_To_GM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Activity_Regard_Candidate</name>
        <label>Create Activity Regard Candidate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Action_Performed_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>Lead Downgraded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Template_Used_In_Notification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logging_Id__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Title_Used_In_Notification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Owner__c</field>
            <value>
                <elementReference>Get_Candidate_Owner_Details.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Owner__c</field>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Activity_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Custom_Notification</name>
        <label>Fetch Custom Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Count_Lead_is_greater_than_Or_Equal_to_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Custom_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Candidate_Owner_Details</name>
        <label>Get Candidate Owner Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Lead_Related_to_Candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Lead_Related_to_Candidate</name>
        <label>Get Custom Lead Related to Candidate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_GM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Lead__c</object>
        <outputReference>customLeadRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Call_logs_Related_to_Candidate</name>
        <label>Update Call logs Related to Candidate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Email_Records_Related_To_Candidate</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Candidate_Owner_Details.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Call_Logs__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Custom_Lead_Record_Related_To_Candidate</name>
        <label>Update Custom Lead Record Related To Candidate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Enquiry_Record_Related_To_Candidate</targetReference>
        </connector>
        <inputAssignments>
            <field>Downgraded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Candidate_Owner_Details.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Leads__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Records_Related_To_Candidate</name>
        <label>Update Email Records Related To Candidate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>For_each_custom_Lead_of_Candidate</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Candidate_Owner_Details.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Emails__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Enquiry_Record_Related_To_Candidate</name>
        <label>Update Enquiry Record Related To Candidate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Phone_Number_Record_Related_to_Candidate</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Candidate_Owner_Details.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Enquiries__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_To_Manager</name>
        <label>Update Lead To Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Custom_Lead_Record_Related_To_Candidate</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Candidate_Owner_Details.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Before_Downgrade__c</field>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Phone_Number_Record_Related_to_Candidate</name>
        <label>Update Phone Number Record Related to Candidate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Call_logs_Related_to_Candidate</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Candidate_Owner_Details.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Phone_Numbers__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Webinar_Member_Record_Related_to_Custom_Lead</name>
        <label>Update Webinar Member Record Related to Custom Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>For_each_custom_Lead_of_Candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_custom_Lead_of_Candidate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Candidate_Owner_Details.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <object>Webinar_Member__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Candidate_Owner_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Engagement_Bucket__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negative</stringValue>
            </value>
        </filters>
        <filters>
            <field>Engagement_Bucket__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Template_Used_In_Notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Lead {!$Record.FirstName}  {!$Record.LastName} was downgraded by {!Get_Candidate_Owner_Details.Name}, Please review.</text>
    </textTemplates>
    <textTemplates>
        <name>Title_Used_In_Notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Lead Downgraded</text>
    </textTemplates>
    <variables>
        <name>countLead</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>customLeadRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead__c</objectType>
    </variables>
    <variables>
        <name>managerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
