force-app/main/default/flows/Lead_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>EnrolledAssignment</name>
        <label>EnrolledAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EngagementBucket</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Engagement_Bucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NegativeAssignment</name>
        <label>NegativeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EngagementBucket</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negative</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Engagement_Bucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NeutralAssignment</name>
        <label>NeutralAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EngagementBucket</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Neutral</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Engagement_Bucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PositiveAssignment</name>
        <label>PositiveAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EngagementBucket</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Positive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Engagement_Bucket</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decide_Engagement_Bucket</name>
        <label>Decide Engagement Bucket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>EnrolledAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Positive</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M3+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M3++</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PositiveAssignment</targetReference>
            </connector>
            <label>Positive</label>
        </rules>
        <rules>
            <name>Neutral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NeutralAssignment</targetReference>
            </connector>
            <label>Neutral</label>
        </rules>
        <rules>
            <name>Negative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M4-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NegativeAssignment</targetReference>
            </connector>
            <label>Negative</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Lead_Stage_is_Updated</name>
        <label>If Lead Stage is Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide_Engagement_Bucket</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead - After Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - After Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Engagement_Bucket</name>
        <label>Update Engagement Bucket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Engagement_Bucket__c</field>
            <value>
                <elementReference>EngagementBucket</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Lead_Stage_is_Updated</targetReference>
        </connector>
        <object>Lead__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EngagementBucket</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
